@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../public/fonts/HelveticaNeue.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../public/fonts/HelveticaNeue-Bold.ttf');
  font-weight: 700;
}

html{
  scroll-behavior: smooth;
}

body {
  color: #000;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.silver-text {
  background: var(
    --Gradient-Silver,
    linear-gradient(91deg, #fff -1.2%, #b0b1b4 99.77%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.golden-text {
  background: radial-gradient(301.89% 107.64% at -2.8% 42.95%, #FFF4D6 0%, #FFD361 35.05%, #EC6803 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}